@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --blue: #050542;
    --green: #66e5bf;
    --grey: #ececec;
    --fifthyshadesofgrey: #8c8aa7;
    --purple: #a675f5;
    --white: #ffffff;
    --black: #000000;
    --yellow: #fffc86;
    --body-gradient: linear-gradient(164deg, hsl(248, 87%, 69%) 0%, hsl(262, 75%, 51%) 34%, hsl(260, 78%, 57%) 85%);
    --container-gradient: linear-gradient(150deg, hsl(0, 0%, 100%) 0%, hsl(240, 100%, 97%) 100%);

    --radius: 1.5rem;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 40px;
    --font-size-xl: 48px;
    --font-size-xxl: 70px;

    --font-weight-reg: 400;
    --font-weight-semi: 600;
    --font-weight-bold: 700;
}

@supports (--css: color(display-p3 0 0 0)) {
    :root {
        --blue: color(display-p3 0.0196 0.2118 0.2588);
        --green: color(display-p3 0.4 0.898 0.749);
        --grey: color(display-p3 0.929 0.929 0.929);
        --fifthyshadesofgrey: color(display-p3 0.549 0.537 0.654);
        --purple: color(display-p3 0.654 0.459 0.960);
        --white: color(display-p3 1 1 1);
        --black: color(display-p3 0 0 0);
        --yellow: color(display-p3 1 0.988 0.527);
    }
}

* {
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: var(--purple);
    padding: 0px 1rem 0px 1rem;
}

@media screen and (min-width: 768px) {
    body {
        padding: 0px 1.563rem 0px 1.563rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        padding: 0px 2.813rem 0px 2.813rem;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding: 0px 5.938rem 0px 5.938rem;
    }
}
