@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --blue: #050542;
    --green: #66e5bf;
    --grey: #ececec;
    --fifthyshadesofgrey: #8c8aa7;
    --purple: #a675f5;
    --white: #ffffff;
    --black: #000000;
    --yellow: #fffc86;

    --body-gradient: linear-gradient(164deg, rgba(166,117,246,1) 0%, rgba(110,44,219,1) 34%, rgba(113,38,236,1) 85%);
    --container-gradient: linear-gradient(150deg, hsl(0, 0%, 100%) 0%, hsl(240, 100%, 97%) 100%);

    --radius: 1.5rem;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 40px;
    --font-size-xl: 48px;
    --font-size-xxl: 70px;

    --font-weight-reg: 400;
    --font-weight-semi: 600;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: var(--body-gradient);
    padding: 0px 1rem 0px 1rem;
}

@media screen and (min-width: 768px) {
    body {
        padding: 0px 1.563rem 0px 1.563rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        padding: 0px 2.813rem 0px 2.813rem;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding: 0px 5.938rem 0px 5.938rem;
    }
}
